<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.example.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>com.example.servlets.Students</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>com.example.servlets.About</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
</web-app>
